#address{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  justify-content: space-between;
}

#formGlobal{
  margin-top:50px
}
#logo{
  width: 15%;
  height: auto;
  margin-left: auto;
  margin-right:auto;
}